@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to folder explorer</h1>
    <a asp-controller ="Folder" asp-action="Index">To root folder</a>
    <br />
    <a asp-controller ="Folder" asp-action="Folders">All Folders in DB</a>
</div>
